@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");


.form input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  font-size: 12px;
  padding-left: 10px;
  background-color:#7372720e;
  outline: none;
  border:1px solid #7372727c;
  margin-bottom: 7px;
}
.form p {
  font-size: 13px;
}
.form p 
a {
  text-decoration: none;
  color:#002033;
  font-weight:500;
}
